VITE_API_BASE_URL=https://localhost:7100
VITE_SIGNALR_URL=https://localhost:7100/hub/notifications
VITE_STOREFRONT_API_BASE_URL=https://localhost:7100
VITE_STOREFRONT_SIGNALR_URL=https://localhost:7100/hub/notifications
